<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Notified</title>
     <link rel="stylesheet" href="styles.css" >
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
     <script src="https://kit.fontawesome.com/610a3e4f08.js" crossorigin="anonymous"></script>
     <style>.center {
          margin:auto;
          width: 60%;
          
          padding: 70px 0; }
     </style>
     <style>.left {
               text-align: left;    
             }
     </style>
          <style type ="text/css" >
               .footer{ 
                   position: fixed;     
                   text-align: left;    
                   bottom: 25px; 
                   width: 100%;
               }  
            </style>

</head>

<body>

<br>  
<!--app name-->
<div class="left"><Li style="color:rgb(6, 58, 66) ;font-size: 1cm;font-family: monospace;">&nbsp;&nbsp;Notified</Li></div>
<script
type="text/css"  
src="{{ url_for('static', filename='styles.css') }}" 
></script>

<!-- signup and login-->
<ul> 
  <li>
     <a href="#" style="font-size:0.5cm;font-stretch: condensed;color: rgb(16, 32, 46);font-weight:500;">Signup</a></li>&nbsp;&nbsp;<i class="fa-solid fa-user-plus" style="color:rgb(5, 31, 29) ;"></i>          
          &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;         
  <li><a href="#"style="font-size:00.5cm;color:rgb(16, 32, 46) ;font-weight:500; ">login</a></li>&nbsp;&nbsp;<i class="fa-solid fa-timeline" style="color:rgb(4, 32, 32);" ></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</ul>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!--icon and the quote-->
     <div class="center">
          <p><a href="https://imgbb.com/"><img src="https://i.ibb.co/ZS87By3/ifco-removebg-preview.png" alt="ifco-removebg-preview" border="0"></a><a target='_blank' href='https://nonprofitlight.com/tn/paris/holley-credit-union'></a>
               <!--<blockquote style="font-style:italic;">"the quote"</blockquote> -->
               <br>
               <q style="font-size: x-large;font-family: monospace;font-weight: bold;color: rgb(33, 33, 78);">getting organised is a sign of self-respect</q></p>
    
    
   
    </div>

<!--contact us-->
       
   
</html>
<script
type="text/css"  
src="{{ url_for('static', filename='index.css') }}" 
></script>

